* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Slab', serif;
}
/*
        font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Slab', serif;
*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(a/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

nav img {
    width: 150px;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: .5s ease;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s ease;
}

nav .fas {
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background-color: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s ease;
    }
    nav .fas {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}