@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

.header {
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* 
    Navbar
    Beserte header
*/
.navbar {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 98%;
    /* z-index: 2; */
    /* background-color: rgb(41, 43, 40); */
    /* border: 1px solid #eee; */
}

/* Navbar header */
.navbar .navbar-header {
    display: flex;
}
.navbar .navbar-header img {
    width: 20px;
    height: 20px;
    /* filter: saturate(30%) invert(100%) brightness(100%) contrast(20%); */
    margin-right: 5px;
}
.navbar .navbar-header h3 {
    font-weight: bold;
    letter-spacing: .2rem;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}
/* End navbar header */

.navbar .navbar-ul {
    display: flex;
    /* margin-top: 5px; */
    position: relative;
}

.navbar .navbar-ul li {
    list-style-type: none;
    margin-right: .1rem;
}

.navbar .navbar-ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    transition: .5s ease;
    padding: 10px;
}

.navbar .navbar-ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: .8rem;
}

/*
    HEADER STARTED
*/
.header .header-started {
    position: absolute;
    width: 70%;
    top: 80%;
    left: 15%;
    text-align: center;
    /* border: 1px solid #fff; */
}
.header .header-started h1 {
    color: white;
    border: 3px solid #fff;
    border-radius: .8rem;
    width: 25%;
    margin: 0 auto;
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, .2);
    transition: .5s ease;
}
.header .header-started h1 a {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.header .header-started h1:hover {
    margin-top: 10px;
    
}